body{font-family: gotham;
padding: 15px;
text-align: justify;}

@font-face {
    font-family: gotham;
    src: url('./esta.otf');
   unicode-range: U+00-52F, U+1E00-1FFF, U+2200–22FF;
  }
  header > nav > div > a {background-image: url(./logo\ ejemplo1.png);
    padding-left: 100px;
    background-position: left;
    background-size: 100px;
    background-repeat: no-repeat;
    border-radius: 2px;
    margin-left: 200px;}

h1{margin: 20px;
    background-color:white;
    color: grey;
    border:white (157, 216, 183);
    border-radius: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;}

audio {
    display: inline-block;
    width: 100%;
    padding: 50
    px 20px;
    }
p{
    display: inline-block;
    padding: 20px;
    color: gray;
}

.miboton {
    border: yellow solid 1px;; 
    background-color: white ;
    border-radius: 10px;
    color: black;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    float: 20%;
    font-size: 2em;
    margin: 10px 10px 10px 10px;
    padding: 10px;
    }
    
    .miboton:hover{
    background: yellow;
    border: white solid;
    cursor: pointer;
    }
